<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>『星月夜』后台管理首页</title>
    <th:block th:include="/admin/commonModule/common :: head">admin公共的head引用</th:block>
    <th:block th:include="/admin/commonModule/common :: head_page">admin公共的分页head引用</th:block>
    <!--<style>
        .container {
            margin-right: auto;
            margin-left: auto;
            padding-left: 0 !important;
            padding-right: 0 !important;
            width: 100% !important;
        }
    </style>-->
</head>
<body>
<!--头部导航栏-->
<div th:replace="/admin/commonModule/common :: top_nav_bar"></div>
<!--主体-->
<div class="container clearfix">
    <!--左侧导航栏-->
    <div th:replace="/admin/commonModule/common :: left_nav_bar"></div>
    <!--快捷操作-->
    <div class="main-wrap">
        <!--<iframe id="main-iframe" height=600px width="100%" frameborder="0" style="border:none;">main</iframe>-->
        <div id="main" >main</div>
    </div>
</div>
</body>

<script type="text/javascript">
    $(function () {
        set_iframe_url('index');
    });

</script>
<script type="text/javascript" th:src="@{/js/admin.js}"></script>
</html>