<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--adminManager主体-->
<div th:fragment="admin_userManager">
    <!--导航横条-->
    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font"></i>
            <a href="">后台首页</a>
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">账号管理</span>
        </div>
    </div>
    <!--模糊查询-->
    <div class="search-wrap">
        <div class="search-content">
            <form action="" method="post" onsubmit="return false;">
                <table class="search-tab">
                    <tr>
                        <!--<th width="120">角色</th>
                        <td>
                            <select name="privilege" list="'0':'全部','1':'超级管理员','2':'网页维护员'"/>
                        </td>-->
                        <th width="120">账号名称:</th>
                        <td>
                            <input id="keyWords" class="common-text" placeholder="关键字" value="" type="text">
                        </td>
                        <td>
                            <!--<input class="btn btn-primary btn2" id="query"
                                   value="查询" type="button">-->
                            <button class="btn btn-primary" onclick="query()">查询</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!--admin列表-->
    <div class="result-wrap">
        <form action="" id="myform" method="post">
            <div class="result-title">
                <div class="result-list">
                    <a href="javascript:void(0);" id="batchDel"
                       onclick="document.getElementById('myform').submit();delcfm()">
                        <i class="icon-font"></i>批量删除 </a>
                    <a id="updateOrd" href="javascript:void(0);"> <i class="icon-font"> </i>更新排序 </a>
                </div>
            </div>
            <div class="result-content">
                <table class="result-tab" width="90%">
                    <thead>
                    <tr>
                        <th class="tc" width="5%"><input id="allChoose" class="allChoose" type="checkbox">全选</th>
                        <th width="5%">ID</th>
                        <th width="10%">用户名称</th>
                        <th width="10%">角色</th>
                        <th width="10%">图片</th>
                        <th width="10%">手机号</th>
                        <th width="10%">邮箱</th>
                        <th width="10%">注册时间</th>
                        <th width="10%">最近登录时间</th>
                        <th width="10%">操作</th>
                    </tr>
                    </thead>
                    <tbody id="content">
                    <!--主体-->
                    </tbody>
                </table>
                <!--翻页模块引用-->
                <div class="list-page" style="width:90%;"
                     th:include="/admin/commonModule/common :: pagination"></div>
            </div>
        </form>
    </div>
</div>

</html>