<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/mySelf/all.css" rel="stylesheet">
    <link href="/css/mySelf/base.css" rel="stylesheet">

    <title>星月夜-登录</title>
</head>
<style>

</style>
<body>
<div id="errorMsg" style="display: none; position: absolute; width: 400px; height: 525px; z-index:1999;">
    <div style="margin-top: 200px; background-color: #F70;width: 300px;height: 37px;margin-left: 50px;display:table;text-align: center">
        <p style="font-size: 15px;color: #fff;display: table-cell;vertical-align:middle;">错误！</p>
    </div>
</div>
<div class="sign-container" id="container">
    <div class="loginbox-con loginbox-con-iframe" id="loginbox-con">
        <div class="loginbox" id="loginbox" data-point="dlk">
            <!-- 关闭-->
            <div class="loginbox-close"></div>
            <!--#43111-Web端登录-->
            <div class="scancode-login js-scancode-box hide">
                <!-- 右上角 -->
                <div class="scanicon-switch-box">
                    <div class="scanicon-toLogin js-qrcode-switch"></div>
                    <div class="scancode-tips">
                        <span class="scancode-tip-icon scancode-tip-lock"></span>
                        <span class="scancode-tip-words">密码登录在这里</span>
                    </div>
                </div>
                <!--#43111-Web端扫码登录插件-->
                <!-- 扫码的结构 begin -->
                <div class="loginbox-scanwrap">
                    <div class="scancode-header">
                        <h2 class="scancode-title">手机扫码，安全登录</h2>
                    </div>
                    <div class="scancode-middle">
                        <div class="scancode-contrnt clearfix">
                            <div class="scancode-qrcode fl">
                                <div class="loginbox-scanwrap">
                                    <div class="loginbox-scancontent">
                                        <div class="scan-qrcode">
                                            <div class="qrcode-img">
                                                <div class="qrcode-con js-qrcode-con">
                                                    <canvas width="123" height="123"></canvas>
                                                </div>
                                                <i class="douyu-icon"></i>
                                            </div>
                                            <div class="qrcode-mask">
                                                <div class="qrcode-maskcon">
                                                    <h2>二维码已失效</h2>
                                                    <div>
                                                        <a href="javascript:;"
                                                           class="fresh-btn js-qrcode-refresh">点击刷新</a>
                                                    </div>
                                                </div>
                                                <div class="qrcode-maskbg"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="loginbox-scanmobile">
                                        <div class="scanmobile-icon"></div>
                                        <div class="scanmobile-note">请在手机上确认登录</div>
                                        <div class="scanmobile-back">
                                            <a href="javascript:;" class="js-qrcode-back">返回扫描二维码</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="scancode-qrcode-right" class="fr">
                                <div class="scan-phonetip" id="js-scan-phonetip"></div>
                            </div>
                        </div>
                        <div class="scancode-tip clearfix">
                            <div class="scan-tip-icon fl"></div>
                            <div class="scan-note fr">
                                <span class="note1" data-i18n="Login.QrCodeLogin.note1">打开</span>
                                <a href="//www.douyu.com/client?platform=2" class="note2" target="_blank"
                                   data-i18n="Login.QrCodeLogin.note2">星月夜APP</a>
                                <span class="line"></span>
                                <span class="note2" data-i18n="Login.QrCodeLogin.note4">微信</span>
                                <span class="line"></span>
                                <span class="note2" data-i18n="Login.QrCodeLogin.note5">QQ</span>
                                <p class="note3"><span data-i18n="Login.QrCodeLogin.note6">或者</span><span class="note2"
                                                                                                          data-i18n="Login.QrCodeLogin.note7">微博</span><span
                                        data-i18n="Login.QrCodeLogin.note3">扫一扫登录</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="scancode-footer">
                        <div class="scancode-link clearfix">
                            <a class="scancide-to fr"
                               href="/index/register?passport_login_callback=PASSPORT_LOGIN_SUCCESS_CALLBACK&amp;passport_reg_callback=PASSPORT_REG_SUCCESS_CALLBACK&amp;passport_close_callback=PASSPORT_CLOSE_CALLBACK&amp;client_id=1"
                               data-type="reg">免费注册</a>
                            <span class="link-border fr">|</span>
                            <span class="scancide-to js-to-link js-need-param fr" data-type="login">密码登录</span>
                        </div>
                    </div>
                </div>
                <!-- 扫码的结构 end -->
                <!--#43111-Web端扫码登录插件-->
            </div>
            <!--#43111-Web端扫码登录插件-->
            <div class="loginNormal js-login-normal">
                <!-- 头部 -->
                <div class="loginbox-hd js-loginbox-hd">
                    <div class="loginbox-hd-tab">
                        <ul>
                            <li>
                                <a href="#" class="t-login current js-loginbox-tab">登录-星月夜</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 登录 -->
                <div class="loginbox-bd loginbox-login" data-type="login">
                    <div class="scanicon-switch-box">
                        <div class="scanicon-qrcode js-qrcode-switch"></div>
                        <div class="scancode-tips">
                            <span class="scancode-tip-icon scancode-tip-shield"></span>
                            <span class="scancode-tip-words">扫码登录更安全</span>
                        </div>
                    </div>
                    <!--#43111-Web端登录-->
                    <div class="loginbox-bd-container">
                        <!--#40128-帐号体系_手机号登录-登录子类型-->
                        <div class="loginbox-login-subtype">
                            <span class="l-stype js-l-stype active" data-subtype="login-by-phoneNum">手机登录</span>
                            <span class="l-divider">|</span>
                            <span class="l-stype js-l-stype" data-subtype="login-by-nickname">昵称登录</span>
                        </div>
                        <!--#40128-帐号体系_手机号登录-登录子类型-END-->
                        <form id="loginForm" class="login-form login-by-phoneNum" action="" method="post" data-type="log" onsubmit="return false;">
                            <input type="hidden" name="login_type" value="nickname">
                            <!-- 手机号 -->
                            <div class="loginbox-p login-by-phoneNum login-by-sms">
                                <div class="clearfix loginbox-p-stype-item active">
                                    <div class="selectCountry-box js-selectCountry-box">
                                        <div class="select-area-wrap">
                                            <input class="selectCountry-box-code js-selectCountry-box-code" type="text"
                                                name="areaCode" value="+86">
                                            <div class="selectCountry-san-box"><span
                                                    class="selectCountry-san js-selectCountry-san"></span></div>
                                            <ul class="select-country-list js-select-country-list clearfix"
                                                style="display: none;"></ul>
                                        </div>
                                    </div>
                                    <input type="text" class="fr ipt ipt-need-parent country-phonenum" name="phoneNum"
                                           placeholder="请输入手机号码" maxlength="11" value="">
                                </div>
                            </div>
                            <!-- 昵称 -->
                            <div class="loginbox-p login-by-nickname">
                                <div class="loginbox-p-stype-item">
                                    <span class="ipt-span ipt1"></span>
                                    <input class="ipt" type="text" name="userName" placeholder="输入昵称">
                                </div>
                            </div>
                            <!-- 密码框 -->
                            <div class="loginbox-p login-by-phoneNum login-by-nickname">
                                <span class="ipt-span ipt2"></span>
                                <input class="ipt" type="password" name="userPassWord" placeholder="输入密码"
                                       autocomplete="off">
                                <span class="pw-span pw-hide pw-hide1"></span>
                            </div>
                            <div class="captcha-gt"></div>
                            <!-- 短信验证 -->
                            <div class="loginbox-p login-by-sms">
                                <div class="clearfix">
                                    <div class="form-field">
                                        <div class="clearfix">
                                            <input type="text" class="ipt fl loginbox-phone-yzp" size="6" maxlength="6"
                                                   id="yzphonenum" name="phoneCaptcha"
                                                   data-i18n="Phone.inputVerifyNumber" placeholder="输入验证码">
                                            <input class="phone-send js-sendvoice fl" type="button" value="短信验证"
                                                   data-i18n="Phone.speechVerify" data-sms-isoutside="0">
                                        </div>
                                    </div>
                                </div>
                                <p class="myuser-tip login-cheak-sms"></p>
                            </div>
                            <div class="login-sbt-con">
                                <input class="loginbox-sbt btn-sub" type="submit" value="登录">
                                <div class="loginbox-noact clearfix">
                                    <!-- #40128-帐号体系_英文版 提示跳转-->
                                    <a href="/member/login?lang=en&amp;type=login&amp;client_id=1"
                                       class="login-box-eng fl" target="_blank">English Mode</a>
                                    <!-- #40128-帐号体系_英文版 提示跳转-->
                                    <a href="javascript:void(0);" class="login-type-enter login-by-phoneNum"
                                       data-subtype="login-by-sms">手机快捷登录</a>
                                    <a href="javascript:void(0);" class="login-type-enter login-by-sms"
                                       data-subtype="login-by-phoneNum">手机密码登录</a>
                                    <a class="anchor_line forget-pwd" href="https://www.douyu.com/member/findpassword"
                                       target="_blank">忘记密码?</a>
                                </div>
                            </div>
                        </form>
                        <p class="third-text">其他登录方式</p>
                        <div class="third-list clearfix ">
                            <a href="https://www.douyu.com/member/oauth/signin/qq?biz_type=1&amp;ref_url=&amp;room_id=0&amp;cate_id=0&amp;tag_id=0&amp;child_id=0&amp;vid=0&amp;fac=&amp;type=login"
                               target="_blank" class="fl third-icon third-icon-qq" title="QQ帐号登录" data-point-2="qq"></a>
                            <a href="https://www.douyu.com/member/oauth/signin/weixin?biz_type=1&amp;ref_url=&amp;room_id=0&amp;cate_id=0&amp;tag_id=0&amp;child_id=0&amp;vid=0&amp;fac=&amp;type=login"
                               target="_blank" class="fl third-icon third-icon-wx" title="微信帐号登录" data-point-2="wx"></a>
                            <a href="https://www.douyu.com/member/oauth/signin/weibo?biz_type=1&amp;ref_url=&amp;room_id=0&amp;cate_id=0&amp;tag_id=0&amp;child_id=0&amp;vid=0&amp;fac=&amp;type=login"
                               target="_blank" class="fl third-icon third-icon-wb third-icon-last" title="微博帐号登录"
                               data-point-2="wb"></a>
                        </div>

                        <!-- #40128-帐号体系_英文版 切换注册-->
                        <span class="login-box-toptxt">没有帐号？<a
                                href="/index/register?passport_login_callback=PASSPORT_LOGIN_SUCCESS_CALLBACK&amp;passport_reg_callback=PASSPORT_REG_SUCCESS_CALLBACK&amp;passport_close_callback=PASSPORT_CLOSE_CALLBACK&amp;client_id=1"
                                title="5秒马上注册" class="anchor_line js-switch-reg js-need-param">5秒注册&gt;</a></span>
                        <!-- #40128-帐号体系_英文版 切换注册-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/login/login.js"></script>
</body>
</html>
